@import "fonts/vaadin-icons/vaadin-icons";

@mixin com_glebfox_icons-halo-ext {
  img.v-icon {
    height: $v-font-size;
    margin-bottom: 2px;
  }

  .v-app-loading::before {
    width: 32px;
    height: 32px;
    background: url(../images/rolling.svg) no-repeat 50%;
  }
}
